<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost/toby?characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="rhantls" />
	</bean>
	
	<bean id="userService" class="com.test.tobyspring.Service.UserService">
		<property name="userDao" ref="userDao" />
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="mailSender" ref="mailSender"></property>
	</bean> 
	
	<!-- 
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="mail.server.com" />
	</bean>
	 -->
	
	<bean id="mailSender" class="com.test.tobyspring.Service.DummyMailSender"/>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="userDao" class="com.test.tobyspring.Dao.UserDaoJdbc">
		<property name="dataSource" ref="dataSource" />
	</bean> 
</beans>